{% extends 'base.html.twig' %}

{% block title %}New TemplatesCarteVisites{% endblock %}

{% block body %}
    <h1>Create new TemplatesCarteVisites</h1>

    {{ include('templates_carte_visites/_form.html.twig') }}

    <a href="{{ path('app_templates_carte_visites_index') }}">back to list</a>
{% endblock %}
