{% extends 'base.html.twig' %}

{% block title %}Edit Espaces{% endblock %}

{% block body %}
    <h1>Edit Espaces</h1>

    {{ include('espaces/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_espaces_index') }}">back to list</a>

    {{ include('espaces/_delete_form.html.twig') }}
{% endblock %}
