{% extends 'base.html.twig' %}

{% block title %}New Espaces{% endblock %}

{% block body %}
    <h1>Create new Espaces</h1>

    {{ include('comptes/espaces/_form.html.twig') }}

    <a href="{{ path('app_espaces_index') }}">back to list</a>
{% endblock %}
